@import "tailwindcss";
@import "tw-animate-css";

:root {
  --background: oklch(0.99 0.002 270);
  --foreground: oklch(0.20 0.01 270);

  --card: oklch(1 0 0);
  --card-foreground: oklch(0.20 0.01 270);

  --primary: oklch(73.802% 0.00008 271.152);
  --primary-foreground: oklch(0.25 0.01 270);

  --muted: oklch(0.96 0.004 270);
  --muted-foreground: oklch(0.45 0.02 270);

  --border: oklch(0.90 0.008 270);
  --input: oklch(0.90 0.008 270);
  --ring: oklch(0.88 0.008 270);

  --radius: 0.75rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-border: var(--border);
  --radius-lg: var(--radius);
}

@layer base {
  * { @apply border-border; }
  body { @apply bg-background text-foreground antialiased; }
}

input, button {
  -webkit-appearance: none; 
  border-radius: 8px;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}